services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant-db
    restart: always
    ports:
      - "6333:6333" # REST API
      - "6334:6334" # gRPC API
    environment:
      - QDRANT__SERVICE__GRPC_PORT=6334
    volumes:
      - ./app/qdrant_storage:/qdrant/storage
